* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
  }
  
  body {
    align-items: center;
    background-color: #3c005b;
  background: -webkit-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
  background: -moz-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
  background: -ie-radial-gradient(center, ellipse cover, #3c005b 1%,#0d0011 100%);
    display: flex;
    
  }
  
  .contenedor {
    color: white;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
      font-family: fuente;
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }
  
  li {
  
    font-family: fuente2;
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
      
    display: block;
    font-size: 4.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 0.5rem;
  }
  
  @media all and (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
    }
  
    li {
      font-size: 1.125rem;
      padding: 0.75rem;
    }
  
    li span {
      font-size: 3.375rem;
    }
  }
  @font-face{
      font-family: fuente;
      src: url(/fuente.TTF);
  } 
  .fuente{
      font-family: fuente;
  }
  @font-face{
    font-family: fuente2;
    src: url(/fuente2.ttf);
  }
  .movimiento:hover {-webkit-transform:scale(1.02);transform:scale(1.02);
    z-index: 1;
    transition: 300ms;
    }

    @keyframes lights {
      0% {
        color: hsl(230, 40%, 80%);
        text-shadow:
          0 0 1em hsla(320, 100%, 50%, 0.2),
          0 0 0.125em hsla(320, 100%, 60%, 0.3),
          -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
          1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
      }
      
      30% { 
        color: hsl(230, 80%, 90%);
        text-shadow:
          0 0 1em hsla(320, 100%, 50%, 0.5),
          0 0 0.125em hsla(320, 100%, 60%, 0.5),
          -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
          0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
      }
      
      40% { 
        color: hsl(230, 100%, 95%);
        text-shadow:
          0 0 1em hsla(320, 100%, 50%, 0.5),
          0 0 0.125em hsla(320, 100%, 90%, 0.5),
          -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
          0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
      }
      
      70% {
        color: hsl(230, 80%, 90%);
        text-shadow:
          0 0 1em hsla(320, 100%, 50%, 0.5),
          0 0 0.125em hsla(320, 100%, 60%, 0.5),
          0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
          -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
      }
      
      100% {
        color: hsl(230, 40%, 80%);
        text-shadow:
          0 0 1em hsla(320, 100%, 50%, 0.2),
          0 0 0.125em hsla(320, 100%, 60%, 0.3),
          1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
          -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
      }
      
    }
    
    /* body {
      margin: 0;
      font: 100% / 1.5 Raleway, sans-serif;
      color: hsl(230, 100%, 95%);
      background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
      height: 100vh;
      display: flex;
    }
     */
    h1 {
      margin: auto;
      animation: lights 5s 750ms linear infinite;
    }

    





